.Header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    pointer-events: all;
}

.Header ul {
    display: flex;
    gap: 4rem;
    padding: 1em 4em 1em 0em;
    align-items: flex-end;
}

.Header li {
    text-transform: uppercase;
    list-style-type: none;
    position: relative;
    overflow: hidden;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.4s cubic-bezier(0.23, 1, 0.320, 1)
}

.Header li:hover {
    color: var(--white-new)
}

.Header li::before {
    background-color: var(--black-new);
    height: 100%;
    position: absolute;
    width: 100%;
    content: "";
    z-index: -1;
    transform: translateX(-110%);
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.320, 1)
}

.Header li:hover::before {

    transform: translateX(0);

}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}