.Main {
    z-index: 1000000;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
}

.content {
    height: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}

.pfiveContent {
    height: fit-content;
    width: fit-content;
    display: flex;
    gap: 2rem;
}

.documentation,
.editors {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}



.linkContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    gap: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;



}

.link {
    height: fit-content;

    text-transform: uppercase;
    border-radius: 40px;
    display: block;
    height: fit-content;
    width: 100%;
}

.link a div {
    padding: 1rem;
    width: 100%;
    text-align: center;
    background-color: var(--accent-green);
    border: 2px solid #ED225D;
    border-radius: 40px;
    color: #ED225D;
    background-color: var(--accent-green);
    font-variation-settings: "wght" 600;
}

.link a div:hover {
    color: var(--white);
    background-color: #ED225D;

}

.Mobile {
    font-size: 0.8rem;
    background-color: #ED225D;
    display: flex;
    padding: 1rem;
    transform: translateY(18rem)
}

.Mobile h1 {
    text-align: center;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}