.TitleContainer {
    display: flex;
    gap: 3em;
    width: fit-content;
    flex-direction: row;
    height: 20rem;
    z-index: 2;
    padding: 8em 4em 4em 4em;

}


.Arrow {
    transform: rotate(45deg);
    width: fit-content;
    height: fit-content;
}



.TitleContainer h1 {
    font-size: 4em;
    pointer-events: all;

}

.Content:nth-of-type(2) {
    display: flex;
    align-items: center;
}

.Content:nth-of-type(3) {
    display: flex;
    align-items: flex-end;
}

.Circle {
    height: 1rem;
    width: 1rem;
    background-color: var(--black-new);
    border-radius: 50%;
}

.LowerContainer {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LowerContent {
    max-width: 80rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    /* background-color: rgba(238, 238, 250, 0.5); */
    /* backdrop-filter: blur(20px); */
}

.LowerContent h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}