.Main {
    position: fixed;
    z-index: 1000000;
}

.content {
    height: 100vh;
    width: 100vw;
}

.pfiveContent {
    height: fit-content;
    width: fit-content;
}

.documentation {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    gap: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}

.link {
    height: fit-content;
    padding: 1rem;
    text-transform: uppercase;
    border: 1px solid var(--black);
    background-color: var(--white);
    display: block;
    height: fit-content;
    width: fit-content;
}

.Mobile {
    font-size: 0.8rem;
    background-color: white;
    display: flex;
    padding: 1rem;
    transform: translateY(18rem)
}

.Mobile h1 {
    text-align: center;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}