.Container {
    position: absolute;
    height: fit-content;
    width: fit-content;
    z-index: -1;
    top: 20vh;
    right: 80vw;
    animation: floating 4s linear infinite;
}

.Container svg {
    height: 10rem;
    width: 10rem;
}

@keyframes floating {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    25% {
        transform: translateY(-7px) rotate(-2deg);
    }

    50% {
        transform: translateY(-15px) rotate(0deg);
    }

    75% {
        transform: translateY(-7px) rotate(2deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}