@font-face {
  font-family: "Host Grotesk";
  src: url("/fonts/Host_Variable.ttf") format("truetype"),
}


:root {

  /* fonts */
  --main-font: "Host Grotesk";

  /* colors */
  --black: #1C1C1C;
  --white: rgb(246, 246, 246);
  --accent-orange: #EE642A;
  --accent-green: #DFED33;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}


*::selection {
  background-color: var(--accent-yellow);
  color: var(--black)
}


body {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100svh;
  margin: 0;
  background-color: var(--white);
  overflow: hidden;
  position: relative;
  pointer-events: none;
  background-color: var(--accent-green);
  background-image:
    linear-gradient(to right, rgba(237, 34, 93, 0.5) 0.5px, transparent 0.5px),
    linear-gradient(to bottom, rgba(237, 34, 93, 0.5) 0.5px, transparent 0.5px);
  background-size: 30px 30px;
  background-position: 0 0;
}


a {
  color: inherit;
  text-decoration: none;
  z-index: 100 !important;
  pointer-events: all;
}

h2 {
  font-size: 2rem;
  color: rgb(237, 34, 93);
}