@font-face {
  font-family: "Host Grotesk";
  src: url("/fonts/Host_Variable.ttf") format("ttf"),
}




:root {

  /* fonts */
  --main-font: "Host Grotesk";



  /* colors */
  --black-new: #1C1C1C;
  --white-new: rgb(238, 238, 238);
  --accent-orange: #EE642A;
  --accent-green: #DFED33;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
}


*::selection {
  background-color: var(--accent-yellow);
  color: var(--black-new)
}


body {
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100svh;
}

body {
  min-height: 100vh;
  margin: 0;
  /* background-color: var(--white-new); */
  background-color: white;
  overflow: hidden;
  position: relative;

}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-variation-settings: "wght" 600;
}

a {
  color: inherit;
  text-decoration: none;
  z-index: 100 !important
}