@font-face {
  font-family: "Neue Montreal Regular";
  src: url("/fonts/Neue_Montreal/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("/fonts/Neue_Montreal/PPNeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal Bold";
  src: url("/fonts/Neue_Montreal/PPNeueMontreal-Bold.woff2") format("woff2"),
    url("/fonts/Neue_Montreal/PPNeueMontreal-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal Light";
  src: url("/fonts/Neue_Montreal/PPNeueMontreal-Light.woff2") format("woff2"),
    url("/fonts/Neue_Montreal/PPNeueMontreal-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Montreal Regular";
  src: url("/fonts/Neue_Montreal/PPNeueMontreal-Regular.woff2") format("woff2"),
    url("/fonts/Neue_Montreal/PPNeueMontreal-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hatton Bold";
  src: url("/fonts/Hatton/PPHatton-Bold.woff2") format("woff2"),
    url("/fonts/Neue_Montreal/PPHatton-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hatton Light";
  src: url("/fonts/Hatton/PPHatton-Light.woff2") format("woff2"),
    url("/fonts/Neue_Montreal/PPHatton-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {

  /* fonts */
  --main-font: "Neue Montreal Regular";
  --bold-font: "Neue Montreal Bold";
  --light-font: "Neue Montreal Light";
  --regular-font: "Neue Montreal Regular";
  --accent-font-bold: "Hatton Bold";
  --accent-font-light: "Hatton Light";


  /* colors */
  --black-new: #1C1C1C;
  --white-new: rgb(238, 238, 238);
  --accent-yellow: #ffff00
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--black-new);
  font-family: var(--regular-font)
}

h1::selection {
  background-color: var(--accent-yellow);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: transparent;
  pointer-events: none;
}

body {
  min-height: 100vh;

}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  font-family: var(--regular-font)
}

a {
  color: inherit;
  text-decoration: none;
}