.CardContainer {
    height: fit-content;
    width: 50rem;
    text-transform: uppercase;
    overflow: hidden;
}

.Card {
    padding: 1rem 1rem 0rem 1rem;
    background-color: rgba(165, 165, 165, 0.3);
    backdrop-filter: blur(10px);
    color: var(--white-new);
}


.OverflowContainer {
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;

}

.TitleContainer {
    background-color: var(--accent-green);
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: var(--accent-green);
    overflow: hidden;
    width: 100%;
}

.Arrow {}

.InfoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.InfoLine {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--white-new);
    width: 100%;
    justify-content: space-around;
    padding: 1rem 0;
}

.InfoLine h2 {
    font-variation-settings: "wght" 600;
}

.InfoLine h2,
.InfoLine p {

    overflow: hidden;
}

.InfoCell {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 4rem;
}

.InfoCell:nth-child(odd) {
    border-right: 1px solid var(--white-new);
}


.OverflowContainer:nth-of-type(3) .InfoLine {
    border: 1px solid transparent;
}

.OverflowContainer:nth-of-type(3) .InfoCell {
    border: 1px solid transparent;
    font-size: 0.8rem;
    text-align: center;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 768px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 768px) and (max-width: 1120px) {}